{
  "root": true,
  "env": { "browser": true },
  "extends": [
    "@sno2wman/eslint-config-typescript",
    "@sno2wman/eslint-config/+ava"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/generic-type-naming": 0,
    "@typescript-eslint/consistent-type-definitions": [2, "interface"]
  }
}
